.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
yarn.lock
node_modules/**
scripts/**
resources/**
out/test/**
